body{background-color: #F1F1F1}

.box{
    position: relative;
    perspective: 1000px;
}
.box .box-img{
    transform: rotateY(0);
    transition: all 1.00s ease-in-out 0.5s;
}
.box:hover .box-img{
    transform: rotateY(-90deg);
    
}

.box .box-content{
    width:375;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 15px 0 15px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: rotateY(90deg);
    transition: all 1.00s ease-in-out 0.5s;
}
.box:hover .box-content{
    transform: rotateY(0);
}
.box .title{
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
}
.box .description{
    text-align:center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.box .title:after,
.box .description:after{
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto;
}


@media only screen and (max-width: 990px) {
    .box{  margin-bottom:20px; }
}
@media only screen and (max-width: 479px) {
    .box .box-content{ padding: 20px; }
}